@media screen and (max-width: 376px) {
  .container {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
  }
  .banner-left-container {
    max-width: auto;
  }
  .change-top-container {
    max-width: auto;
  }
  .extra-mile-left-container {
    max-width: auto;
  }
  .extra-mile-right-img {
    max-width: auto;
    height: 170px;
  }
  .training-top-container {
    max-width: auto;
  }
  .bmi-top-text-container {
    max-width: auto;
    margin: 30px auto;
  }
  .bmi-bottom-input-container form {
    max-width: auto;
  }
  .meet-top-container {
    max-width: auto;
  }
  .footer-top-left-container {
    max-width: auto;
  }
  .header-navbar-container {
    max-width: auto;
  }
  .header-container {
    padding: -20px 0px;
  }
  .banner-title {
    max-width: auto;
  }
  .change-habit-container {
    max-width: auto;
  }
  .food-heading-container h3 {
    padding-top: 66px;
  }
  .extra-mile-right-img img {
    width: auto;
  }
  .training-container {
    max-width: auto;
  }
  .img-container-1 {
    width: auto;
  }
  .img-container-2 {
    width: auto;
  }
  .food-container {
    max-width: auto;
  }
  .footer-top-container {
    max-width: auto;
  }
  .footer-top-left-container {
    max-width: auto;
  }
  /* ntg */
  .left-btn,
  .right-btn {
    font-size: 0.8rem;
  }
  .extra-mile-right-img {
    display: flex;
    justify-content: center;
  }
  .extra-mile-right-img img {
    width: 100%;
    height: 100%;
    padding: 0 5px;
  }
  .extra-mile {
    max-width: auto;
    margin-right: 24px;
    margin-left: 24px;
    padding: 10px;
  }
  .extra-mile-container {
    padding: 0.5rem 0.3rem;
  }
  .training-top-container h2 {
    font-size: 1.5rem;
  }
  .para-container-1 {
    padding: 10px;
  }
  .training-para-1,
  .training-para-3,
  .training-para-4,
  .training-para-5,
  .training-para-6 {
    margin: 3px;
    font-size: 0.6rem;
  }
  .training-para-2 {
    font-size: 0.5rem;
  }
  .footer-top-left-container h3 {
    font-size: 2rem;
  }
  .extra-mile {
    max-width: auto;
    margin-right: 24px;
    margin-left: 24px;
    padding: 10px;
  }
  .extra-mile-container {
    padding: 0.5rem 0.3rem;
  }
  .training-top-container h2 {
    font-size: 1.5rem;
  }
  .para-container-1 {
    padding: 10px;
  }
  .training-para-1,
  .training-para-3,
  .training-para-4,
  .training-para-5,
  .training-para-6 {
    margin: 3px;
    font-size: 0.6rem;
  }
  .training-para-2 {
    font-size: 0.5rem;
  }
  .meet-bg-text-content-1 p,
  .meet-bg-text-content-2 p,
  .meet-bg-text-content-3 p,
  .meet-bg-text-content-4 p,
  .meet-bg-text-content-5 p,
  .meet-bg-text-content-6 p {
    font-size: 0.8rem;
  }
  .footer-top-left-container h3 {
    font-size: 2rem;
  }
  .img-container-1:hover {
    background-image: url("../images/exercise1.jpg");
  }
  .img-container-2:hover {
    background-image: url("../images/exercise2.png");
  }
  .img-container-3:hover {
    background-image: url("../images/exercise3.png");
  }
  .img-container-4:hover {
    background-image: url("../images/exercise4.png");
  }
  .img-container-5:hover {
    background-image: url("../images/exercise5.jpg");
  }
  .img-container-6:hover {
    background-image: url("../images/exercise6.jpg");
  }
}
