@media screen and (max-width: 768px) and (min-width: 577px) {
  .container {
    max-width: auto;
    margin: 0 auto;
    padding: 30px 24px;
  }
  .banner-left-container {
    max-width: auto;
  }
  .change-top-container {
    max-width: auto;
  }
  .extra-mile-left-container {
    max-width: auto;
  }
  .extra-mile-right-img {
    max-width: auto;
    height: 170px;
  }
  .training-top-container {
    max-width: auto;
  }
  .bmi-top-text-container {
    max-width: auto;
    margin: 30px auto;
  }
  .bmi-bottom-input-container form {
    max-width: auto;
  }
  .meet-top-container {
    max-width: auto;
  }
  .footer-top-left-container {
    max-width: auto;
  }
  .header-navbar-container {
    max-width: auto;
  }
  .banner-title {
    max-width: auto;
  }
  .change-habit-container {
    max-width: auto;
  }
  .food-heading-container h3 {
    padding-top: 66px;
  }
  .extra-mile-right-img img {
    width: auto;
  }
  .training-container {
    max-width: auto;
  }
  .img-container-1 {
    width: auto;
  }
  .img-container-2 {
    width: auto;
  }
  .food-container {
    max-width: auto;
  }
  .footer-top-container {
    max-width: auto;
  }
  .footer-top-left-container {
    max-width: auto;
  }
  .extra-mile {
    max-width: auto;
  }
  .header-banner-container {
    flex-direction: column;
    align-items: center;
  }
  .change-bottom-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    padding-bottom: 100px;
  }
  .extra-mile {
    margin-left: 20px;
    margin-right: 20px;
  }
  .extra-mile-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 66px;
    padding: 30px 10px;
  }
  .extra-mile-left-container h2 {
    font-size: 2.5rem;
  }
  .extra-mile-right-img {
    width: 256px;
    height: 250px;
    display: flex;
    align-items: center;
  }
  .extra-mile-right-img img {
    width: 100%;
    height: 80%;
    object-fit: fill;
    object-position: center;
  }
  .training-container {
    padding: 50px 20px;
  }
  .training-para-3 {
    align-items: center;
    justify-content: center;
    margin-top: -50px;
  }
  .img-container-4 {
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .training-para-4 {
    padding: 0;
    margin: 0;
    margin-left: -200px;
    margin-top: 40px;
  }
  .training-para-5 {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .training-para-6 {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bmi-top-text-container {
    margin: 0;
    padding: 30px 0px;
  }
  .bmi-bottom-container {
    flex-direction: column;
  }
  .food-container {
    padding-bottom: 50px;
  }
  .food-top-container figure figcaption,
  .food-middle-container figure figcaption,
  .food-bottom-right-container figure figcaption {
    font-size: 0.5rem;
    text-align: center;
  }
  .footer-top-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-items: start;
  }
  .footer-top-left-container {
    grid-column: 1 / span 4;
  }
  .footer-top-middle-container {
    grid-column: 1 / span 2;
  }
  .footer-top-right-container {
    grid-column: 3 / span 2;
  }
}
